/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/
:root {
  --clenq-primary: #c3f842;
  --clenq-primary-rgb: 195, 248, 66;
  --clenq-black: #172000;
  --clenq-black-rgb: 23, 32, 0;
}